h2{
    text-align: center;
}
.box1{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box1 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-bottom: 10px;
}
/* evenで奇数を指定 */
.box1 div:nth-child(odd){
    background-color: green;
}


.box2{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box2 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-bottom: 10px;
}
/* evenで偶数を指定 */
.box2 div:nth-child(even){
    background-color: green;
}

.box3{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box3 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-bottom: 10px;
}
/* 5で5番目を指定 */
.box3 div:nth-child(5){
    background-color: green;
}

.box4{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box4 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-bottom: 10px;
}
/* 2で最後から2番目を指定 */
.box4 div:nth-last-child(2){
    background-color: green;
}

.box5{
    width:100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box5 div{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    margin-bottom: 10px;
}
/* 3nで3の倍数を指定 */
.box5 div:nth-child(3n){
    background-color: green;
}